.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image:url("aa.jpg")
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url(download.jfif);
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url(download\ \(2\).jfif);
}